---
  # Add the iSCSI target mapping in service profile template for iSCSI. This
  # task should come after configure_ucs_SPT task but the task errors out if
  # the order is changed and SPT is already configured.

  - name: Set Fabric A iSCSI Boot Parameters for iSCSI SPT
    cisco.ucs.ucs_managed_objects:
      hostname: "{{ inventory_hostname }}"
      username: "{{ username }}"
      password: "{{ password }}"
      objects:
      - {
          "module": "ucsmsdk.mometa.ls.LsServer",
          "class": "LsServer",
          "properties": {
          "parent_mo_or_dn": "org-root/org-{{ organization }}",
          "name": "{{ iscsi_SPT_name }}",
          "type": "updating-template"
        },
        "children": [
        {   
          "module": "ucsmsdk.mometa.vnic.VnicIScsiBootParams",
          "class": "VnicIScsiBootParams",
          "properties": {
#             "parent_mo_or_dn": "org-root/org-{{ organization }}/{{ iscsi_SPT_name }}",
             "descr": "",
             "policy_owner": "local"
          },
          "children": [
            {
              "module": "ucsmsdk.mometa.vnic.VnicIScsiBootVnic",
              "class": "VnicIScsiBootVnic",
              "properties": {
                 "descr": "",
                 "initiator_name": "",
                 "iqn_ident_pool_name": "",
                 "name": "{{ iscsi_a_vnic_name }}",
                 "policy_owner": "local"
              },
              "children": [
                {
                  "module": "ucsmsdk.mometa.vnic.VnicIPv4If",
                  "class": "VnicIPv4If",
                  "properties": {
                     "name": ""
                  },
                  "children": [
                    {
                      "module": "ucsmsdk.mometa.vnic.VnicIPv4PooledIscsiAddr",
                      "class": "VnicIPv4PooledIscsiAddr",
                      "properties": {
                         "ident_pool_name": "{{ iscsi_a_pool_name }}"
                      },
                    },
                  ],
                },
                {
                  "module": "ucsmsdk.mometa.vnic.VnicIScsiStaticTargetIf",
                  "class": "VnicIScsiStaticTargetIf",
                  "properties": {
                     "ip_address": "{{ iscsi_lif_01a }}",
                     "name": "{{ storage_iscsi_IQN }}",
                     "priority": "1"
                  },
                  "children": [
                    {
                      "module": "ucsmsdk.mometa.vnic.VnicLun",
                      "class": "VnicLun",
                      "properties": {
                         "bootable": "no",
                         "id": "0"
                      },
                    },
                  ],
                },
                {
                  "module": "ucsmsdk.mometa.vnic.VnicIScsiStaticTargetIf",
                  "class": "VnicIScsiStaticTargetIf",
                  "properties": {
                     "ip_address": "{{ iscsi_lif_02a }}",
                     "name": "{{ storage_iscsi_IQN }}",
                     "priority": "2"
                  },
                 "children": [
                   { 
                      "module": "ucsmsdk.mometa.vnic.VnicLun",
                      "class": "VnicLun",
                      "properties": {
                         "bootable": "no",
                         "id": "0"
                      },
                    },
                  ],
                },
              ],
            },
          ],
        },
          ],
        }
#
  - name: Set Fabric B iSCSI Boot Parameters for iSCSI SPT
    cisco.ucs.ucs_managed_objects:
      hostname: "{{ inventory_hostname }}"
      username: "{{ username }}"
      password: "{{ password }}"
      objects:
      - {
          "module": "ucsmsdk.mometa.ls.LsServer",
          "class": "LsServer",
          "properties": {
          "parent_mo_or_dn": "org-root/org-{{ organization }}",
          "name": "{{ iscsi_SPT_name }}",
          "type": "updating-template"
        },
        "children": [
        {
          "module": "ucsmsdk.mometa.vnic.VnicIScsiBootParams",
          "class": "VnicIScsiBootParams",
          "properties": {
#             "parent_mo_or_dn": "org-root/org-{{ organization }}/{{ iscsi_SPT_name }}"
          },
          "children": [
            {
              "module": "ucsmsdk.mometa.vnic.VnicIScsiBootVnic",
              "class": "VnicIScsiBootVnic",
              "properties": {
                 "name": "{{ iscsi_b_vnic_name }}"
              },
              "children": [
                {
                  "module": "ucsmsdk.mometa.vnic.VnicIScsiStaticTargetIf",
                  "class": "VnicIScsiStaticTargetIf",
                  "properties": {
                     "ip_address": "{{ iscsi_lif_01b }}",
                     "name": "{{ storage_iscsi_IQN }}",
                     "priority": "1"
                  },
                 "children": [
                   {
                     "module": "ucsmsdk.mometa.vnic.VnicLun",
                      "class": "VnicLun",
                      "properties": {
                         "bootable": "no",
                         "id": "0"
                      },
                    },
                  ],
                },
                {
                  "module": "ucsmsdk.mometa.vnic.VnicIScsiStaticTargetIf",
                  "class": "VnicIScsiStaticTargetIf",
                  "properties": {
                     "ip_address": "{{ iscsi_lif_02b }}",
                     "name": "{{ storage_iscsi_IQN }}",
                     "priority": "2"
                  },
                  "children": [
                    {
                      "module": "ucsmsdk.mometa.vnic.VnicLun",
                      "class": "VnicLun",
                      "properties": {
                         "bootable": "no",
                         "id": "0"
                      },
                    },
                  ],
                },
                {
                  "module": "ucsmsdk.mometa.vnic.VnicIPv4If",
                  "class": "VnicIPv4If",
                  "properties": {
                     "name": ""
                  },
                  "children": [
                    {
                      "module": "ucsmsdk.mometa.vnic.VnicIPv4PooledIscsiAddr",
                      "class": "VnicIPv4PooledIscsiAddr",
                      "properties": {
                         "ident_pool_name": "{{ iscsi_b_pool_name }}"
                      },
                    },
                  ],
                },
              ],
            },
          ],
        },
          ],
        }
#
  - name: Set Fabric A iSCSI Boot Parameters for vMedia iSCSI SPT
    cisco.ucs.ucs_managed_objects:
      hostname: "{{ inventory_hostname }}"
      username: "{{ username }}"
      password: "{{ password }}"
      objects:
      - {
          "module": "ucsmsdk.mometa.ls.LsServer",
          "class": "LsServer",
          "properties": {
          "parent_mo_or_dn": "org-root/org-{{ organization }}",
          "name": "{{ iscsi_SPT_name }}-vM",
          "type": "updating-template"
        },
        "children": [
        {
          "module": "ucsmsdk.mometa.vnic.VnicIScsiBootParams",
          "class": "VnicIScsiBootParams",
          "properties": {
#             "parent_mo_or_dn": "org-root/org-{{ organization }}/{{ iscsi_SPT_name }}-vM",
             "descr": "",
             "policy_owner": "local"
          },
          "children": [
            {
              "module": "ucsmsdk.mometa.vnic.VnicIScsiBootVnic",
              "class": "VnicIScsiBootVnic",
              "properties": {
                 "descr": "",
                 "initiator_name": "",
                 "iqn_ident_pool_name": "",
                 "name": "{{ iscsi_a_vnic_name }}",
                 "policy_owner": "local"
              },
              "children": [
                {
                  "module": "ucsmsdk.mometa.vnic.VnicIPv4If",
                  "class": "VnicIPv4If",
                  "properties": {
                     "name": ""
                  },
                  "children": [
                    {
                      "module": "ucsmsdk.mometa.vnic.VnicIPv4PooledIscsiAddr",
                      "class": "VnicIPv4PooledIscsiAddr",
                      "properties": {
                         "ident_pool_name": "{{ iscsi_a_pool_name }}"
                      },
                    },
                  ],
                },
                {
                  "module": "ucsmsdk.mometa.vnic.VnicIScsiStaticTargetIf",
                  "class": "VnicIScsiStaticTargetIf",
                  "properties": {
                     "ip_address": "{{ iscsi_lif_01a }}",
                     "name": "{{ storage_iscsi_IQN }}",
                     "priority": "1"
                  },
                  "children": [
                    {
                      "module": "ucsmsdk.mometa.vnic.VnicLun",
                      "class": "VnicLun",
                      "properties": {
                         "bootable": "no",
                         "id": "0"
                      },
                    },
                  ],
                },
                {
                  "module": "ucsmsdk.mometa.vnic.VnicIScsiStaticTargetIf",
                  "class": "VnicIScsiStaticTargetIf",
                  "properties": {
                     "ip_address": "{{ iscsi_lif_02a }}",
                     "name": "{{ storage_iscsi_IQN }}",
                     "priority": "2"
                  },
                  "children": [
                    {
                      "module": "ucsmsdk.mometa.vnic.VnicLun",
                      "class": "VnicLun",
                      "properties": {
                         "bootable": "no",
                         "id": "0"
                      },
                    },
                  ],
                },
              ],
            },
          ],
        },
          ],
        }
#
  - name: Set Fabric B iSCSI Boot Parameters for vMedia iSCSI SPT
    cisco.ucs.ucs_managed_objects:
      hostname: "{{ inventory_hostname }}"
      username: "{{ username }}"
      password: "{{ password }}"
      objects:
      - {
          "module": "ucsmsdk.mometa.ls.LsServer",
          "class": "LsServer",
          "properties": {
          "parent_mo_or_dn": "org-root/org-{{ organization }}",
          "name": "{{ iscsi_SPT_name }}-vM",
          "type": "updating-template"
        },
        "children": [
        {
          "module": "ucsmsdk.mometa.vnic.VnicIScsiBootParams",
          "class": "VnicIScsiBootParams",
          "properties": {
#             "parent_mo_or_dn": "org-root/org-{{ organization }}/{{ iscsi_SPT_name }}-vM"
          },
          "children": [
            {
              "module": "ucsmsdk.mometa.vnic.VnicIScsiBootVnic",
              "class": "VnicIScsiBootVnic",
              "properties": {
                 "name": "{{ iscsi_b_vnic_name }}"
              },
              "children": [
                {
                  "module": "ucsmsdk.mometa.vnic.VnicIScsiStaticTargetIf",
                  "class": "VnicIScsiStaticTargetIf",
                  "properties": {
                     "ip_address": "{{ iscsi_lif_01b }}",
                     "name": "{{ storage_iscsi_IQN }}",
                     "priority": "1"
                  },
                  "children": [
                    {
                      "module": "ucsmsdk.mometa.vnic.VnicLun",
                      "class": "VnicLun",
                      "properties": {
                         "bootable": "no",
                         "id": "0"
                      },
                    },
                  ],
                },
                {
                  "module": "ucsmsdk.mometa.vnic.VnicIScsiStaticTargetIf",
                  "class": "VnicIScsiStaticTargetIf",
                  "properties": {
                     "ip_address": "{{ iscsi_lif_02b }}",
                     "name": "{{ storage_iscsi_IQN }}",
                     "priority": "2"
                  },
                  "children": [
                    {
                      "module": "ucsmsdk.mometa.vnic.VnicLun",
                      "class": "VnicLun",
                      "properties": {
                         "bootable": "no",
                         "id": "0"
                      },
                    },
                  ],
                },
                {
                  "module": "ucsmsdk.mometa.vnic.VnicIPv4If",
                  "class": "VnicIPv4If",
                  "properties": {
                     "name": ""
                  },
                  "children": [
                    {
                      "module": "ucsmsdk.mometa.vnic.VnicIPv4PooledIscsiAddr",
                      "class": "VnicIPv4PooledIscsiAddr",
                      "properties": {
                         "ident_pool_name": "{{ iscsi_b_pool_name }}"
                      },
                    },
                  ],
                },
              ],
            },
          ],
        },
          ],
        }
