---
# Variables for Equipment related configurations of UCSM
#
# chassis_links options: 1-link, 2-link, 4-link, 8-link, platform-max
# chassis_link_aggr options: port-channel , none (check UCSM version)
#
chassis_links: 4-link
chassis_link_aggr: port-channel
#
# This is the list of all the server ports where chassis and rack servers are connected
#
server_port_list:
# UCS Chassis Connections
  - fabric_id: "A"
    slot_id: '1'
    port_id: '9'
  - fabric_id: "A"
    slot_id: '1'
    port_id: '10'
  - fabric_id: "A"
    slot_id: '1'
    port_id: '11'
  - fabric_id: "A"
    slot_id: '1'
    port_id: '12'
  - fabric_id: "B"
    slot_id: '1'
    port_id: '9'
  - fabric_id: "B"
    slot_id: '1'
    port_id: '10'
  - fabric_id: "B"
    slot_id: '1'
    port_id: '11'
  - fabric_id: "B"
    slot_id: '1'
    port_id: '12'
# Rack Server Connections
  - fabric_id: "A"
    slot_id: '1'
    port_id: '17'
  - fabric_id: "A"
    slot_id: '1'
    port_id: '18'
  - fabric_id: "A"
    slot_id: '1'
    port_id: '19'
  - fabric_id: "A"
    slot_id: '1'
    port_id: '20'
  - fabric_id: "B"
    slot_id: '1'
    port_id: '17'
  - fabric_id: "B"
    slot_id: '1'
    port_id: '18'
  - fabric_id: "B"
    slot_id: '1'
    port_id: '19'
  - fabric_id: "B"
    slot_id: '1'
    port_id: '20'
#
# This is the list for Port-Channel Configuration Parameters including uplink ports
# admin_speed can be hard coded to "100gbps" (default to match Nexus Config) or "auto".
#
port_channel_list:
  - name: "Po145-Nexus"
    pc_id: '145'
    fabric_id: "A"
    slot_id: '1'
    port_id: '45'
    admin_speed: "auto"
    description: "AA16-93180-A:Eth1/21"
  - name: "Po145-Nexus"
    pc_id: '145'
    fabric_id: "A"
    slot_id: '1'
    port_id: '46'
    admin_speed: "auto"
    description: "AA16-93180-A:Eth1/22"
  - name: "Po145-Nexus"
    pc_id: '145'
    fabric_id: "A"
    slot_id: '1'
    port_id: '47'
    admin_speed: "auto"
    description: "AA16-93180-B:Eth1/21"
  - name: "Po145-Nexus"
    pc_id: '145'
    fabric_id: "A"
    slot_id: '1'
    port_id: '48'
    admin_speed: "auto"
    description: "AA16-93180-B:Eth1/22"
  - name: "Po146-Nexus"
    pc_id: '146'
    fabric_id: "B"
    slot_id: '1'
    port_id: '45'
    admin_speed: "auto"
    description: "AA16-93180-A:Eth1/23"
  - name: "Po146-Nexus"
    pc_id: '146'
    fabric_id: "B"
    slot_id: '1'
    port_id: '46'
    admin_speed: "auto"
    description: "AA16-93180-A:Eth1/24"
  - name: "Po146-Nexus"
    pc_id: '146'
    fabric_id: "B"
    slot_id: '1'
    port_id: '47'
    admin_speed: "auto"
    description: "AA16-93180-B:Eth1/23"
  - name: "Po146-Nexus"
    pc_id: '146'
    fabric_id: "B"
    slot_id: '1'
    port_id: '48'
    admin_speed: "auto"
    description: "AA16-93180-B:Eth1/24"

# This is the list of unused FC Ports that will be disabled to avoid alerts. Since FC ports
# must be configured in groups (of 4 on the 6454 FI), some ports may be unused.
#
unused_fc_port_list:
  - fabric_id: "A"
    slot_id: '1'
    port_id: '3'
  - fabric_id: "A"
    slot_id: '1'
    port_id: '4'
  - fabric_id: "B"
    slot_id: '1'
    port_id: '3'
  - fabric_id: "B"
    slot_id: '1'
    port_id: '4'
